# Analisando Dados Simples

Nesse módulo iremos iniciar a análise de dados em Python. No momento, vamos assumir que os dados já se encontram carregados em alguma lista ou dicionário. Formas de carregar esses dados aparecerão nos próximos módulos.

## Máximos, Mínimos e Média

No nosso primeiro exemplo, vamos lidar com o número de refeições servidas nos restaurantes do campus principal da UNICAMP entre 2009 e 2018. Esses dados estão disponíveis na página 249 do [Anuário Estatístico da UNICAMP](https://www.aeplan.unicamp.br/anuario/2019/anuario2019.pdf)

In [4]:
meals = [1854100, 1854855, 1942484, 1961558, 2062858,
         2070967, 2250395, 2478171, 2636224, 2444550]

Podemos determinar o máximo de uma lista de números usando a função embutida `max()`:

In [5]:
max(meals)

2636224

Com isso descobrimos que no ano em que mais refeições foram servidas, serivram 2.636.224 refeições.

O mínimo de uma lista de números também pode ser obtida com uma função nativa do Python, a função `min()`:

In [6]:
min(meals)

1854100

O que mostra que no ano com menor número de refeições, serviram 1.854.100 refeições.

Podemos também somar os elementos de uma lista com `sum()`:

In [7]:
sum(meals)

21556162

Portanto, de 2009 a 2018, foram servidas 21.556.162 refeições